<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>케이마켓 고객센터</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="~{main/header.html}"></div>

    <div id="content" class="cs_main_wrap">

        <h1>⊙ASK NICHIYA⊙</h1>

        <div class="cs_section notice_section">
            <h2 class="section_title">
                NOTICE
                <a th:href="@{/cs/notice/list}" class="more_link">All</a>
            </h2>
            <div class="section_list">
                <ul th:each="notice, stat: ${pageResponseAdminAnnouncementDTO.dtoList}"
                    th:if="${stat.index} < 5">
                    <li><a th:href="@{/cs/notice/view/{id}(id=${notice.id}, boardType=${notice.board_type})}"><span>[[${notice.title}]]</span></a><span th:text="${#temporals.format(notice.created_at, 'yyyy.MM.dd')}"
                    style="color:gray;"></span></li>
                </ul>
            </div>
        </div>
        

        <div class="cs_section faq_section">
            <h2 class="section_title">
                FAQ
                <a th:href="@{/cs/faq/list}" class="more_link">All</a>
            </h2>
            <div class="faq_category">
                <a th:href="@{/cs/faq/list?boardType=회원}">
                    <img th:src="@{/images/user.png}" alt="회원 아이콘">
                    <span>회원</span>
                </a>
                <a th:href="@{/cs/faq/list?boardType=쿠폰/이벤트}">
                    <img th:src="@{/images/event.png}" alt="쿠폰/이벤트 아이콘">
                    <span>쿠폰<br>이벤트</span>
                </a>
                <a th:href="@{/cs/faq/list?boardType=주문/결제}">
                    <img th:src="@{/images/order.png}" alt="주문/결제 아이콘">
                    <span>주문<br>결제</span>
                </a>
                <a th:href="@{/cs/faq/list?boardType=배송}">
                    <img th:src="@{/images/delivery.png}" alt="배송 아이콘">
                    <span>배송</span>
                </a>
                <a th:href="@{/cs/faq/list?boardType=취소/반품/교환}">
                    <img th:src="@{/images/exchange.png}" alt="취소/반품/교환 아이콘">
                    <span>취소<br>반품/교환</span>
                </a>
                <a th:href="@{/cs/faq/list?boardType=안전거래}">
                    <img th:src="@{/images/lock.png}" alt="안전거래 아이콘">
                    <span>안전거래</span>
                </a>
            </div>
        </div>

        <div class="cs_section qna_section">
            <h2 class="section_title">
                ASK NICHIYA
                <a th:href="@{/cs/qna/list}" class="more_link">All</a>
            </h2>
            <div class="section_list">
                <ul th:each="ask, stat: ${pageResponseAdminInquiryDTO.dtoList}"
                    th:if="${stat.index} < 5">
                    <li><div style="display: flex;"><div style=""><a th:href="@{/cs/qna/view/{id}(id=${ask.id}, boardType2=${ask.board_type2}, boardType3=${ask.board_type3})}">[[${ask.title}]]</a></div><div class="date" style="margin-top:auto;margin-left:10px !important;"></span></div></div><div class="writer" th:text="${ask.userId.length() > 4 ?
               ask.userId.substring(0, 4) + '*'.repeat(ask.userId.length() - 4)
               : ask.userId}"></div></li>
                </ul>
            </div>
            <div class="btn_area">
                <a th:href="@{/cs/qna/write}" class="btn_write">write</a>
            </div>
        </div>
        <div class="cs_section qna_section">
            <h2 class="section_title">
                1:1 COUNSEL
            </h2>
            <div style="display: flex; gap: 40px; text-align: left; margin-top:50px;">
                <div style="margin-left:120px;border:1px solid #e2e2e2;width:310px; padding-left:15px; padding-top:15px; height:210px;">
                    <div style="font-weight: 800; font-size: 15px;">이용안내</div>
                    <div style="margin-top:13px;">일반회원 / 비회원</div>
                    <div style=""><span style="font-weight: 800; font-size: 20px;">1566 - 0001</span><span> ( 평일 09:00 ~ 18:00 )</span></div>
                    <div style="margin-top:13px;">스마일 클럽 전용</div>
                    <div><span style="font-weight: 800; font-size: 20px;">1566 - 0002</span><span> ( 365일 09:00 ~ 18:00 )</span></div>
                </div>
                <div style="margin-right:120px;border:1px solid #e2e2e2;width:310px;padding-left:15px; padding-top:15px;">
                    <div style="font-weight: 800; font-size: 15px;">판매 상담 이용안내</div>
                    <div style="margin-top:13px;">판매고객</div>
                    <div><span style="font-weight: 800; font-size: 20px;">1566 - 5700</span><span> ( 평일 09:00 ~ 18:00 )</span></div>
                    <div style="margin-top:38px;"><a href="#" style="font-weight: 800; font-size: 17px; letter-spacing: -1px;">판매자 가입 및 서류 접수 안내 ></a></div>
                </div>
            </div>
            
        </div>

    </div>
<div th:replace="~{main/footer.html}"></div>
    </body>
</html>