<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--안씀 하지만 seller에서 똑같이 쓸꺼라 남겨둔것-->
<mapper namespace="kr.co.bnk_marketproject_be.mapper.UserMapper">

    <insert id="insertUser" parameterType="kr.co.bnk_marketproject_be.dto.UserDTO">
        INSERT INTO USERS (
            USER_ID, PASSWORD, NAME, GENDER, BIRTH, EMAIL,
            PHONE, POSTCODE, ADDRESS, DETAIL_ADDRESS
        ) VALUES (
                     #{userId}, #{password}, #{name}, #{gender}, #{birth},
                     #{email}, #{phone}, #{postcode}, #{address}, #{detailAddress}
                 )
    </insert>

</mapper>
